fastapi
uvicorn
requests
pydub
jinja2
python-multipart
openai-whisper
librosa
numpy
torch
torchvision
torchaudio
transformers
datasets
accelerate
bitsandbytes
scikit-learn
matplotlib
seaborn
soundfile
sentencepiece
protobuf